.App {
  text-align: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  /* border: 1px dotted rgba(9, 9, 121, 1); */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  font-weight: 100;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 44%, rgba(0,212,255,1) 100%); 
}

.info {
  font-weight: 100;
  font-size: 2.5em;
}

input[type=text]{
   border-radius: 20px;
   border: none;
   width: 400px;
   height: 30px;
   padding: 10px;
}

input[type=text]:focus {
  outline: none;
  border: none;
}

.eight-ball {
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}
    
.content {
  background: white;
  border: 1px solid #333;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  margin: 25% auto;
}
    
.eight {
  font-size: 5em;
  margin: 20% auto;
  color: black;
}
    
.answer {
  padding:20px;
  color: black;
  letter-spacing: 1px;
  font-size:20px;
  font-weight: 700;
}
.error {
  padding:20px;
  border-radius: 50%;
  color: red;
  letter-spacing: 1px;
  font-size:15px;
  font-weight: 700;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
